<div class="container py-4">
  <h2 class="mb-4">Mis Tareas</h2>
  <p class="mb-4">Prueba técnica de Bruno Ramírez</p>
  <hr />
  <h5>Creación de tarea</h5>
  <form
    [formGroup]="taskForm"
    (ngSubmit)="addTask()"
    class="row g-2 mb-4 align-items-end"
  >
    <div class="col-md-5">
      <label for="taskTitle" class="form-label">Título</label>
      <input
        type="text"
        class="form-control"
        formControlName="title"
        id="taskTitle"
        placeholder="Título de la tarea"
      />
    </div>

    <div class="col-md-5">
      <label for="taskDescription" class="form-label">Descripción</label>
      <input
        type="text"
        class="form-control"
        formControlName="description"
        id="taskDescription"
        placeholder="Descripción"
      />
    </div>

    <div class="col-md-2 d-grid">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="taskForm.invalid"
      >
        Agregar
      </button>
    </div>
  </form>
  <hr />
  <h5>Filtro de busqueda</h5>
  <form
    [formGroup]="filterForm"
    (ngSubmit)="applyFilters()"
    class="row g-2 mb-4 align-items-end"
  >
    <div class="col-md-3">
      <label for="userEmail" class="form-label">Correo</label>
      <input
        type="email"
        class="form-control"
        formControlName="visibleUserEmail"
        id="userEmail"
        readonly
      />
    </div>

    <div class="col-md-3">
      <label for="title" class="form-label">Título</label>
      <input
        type="text"
        class="form-control"
        formControlName="title"
        id="title"
      />
    </div>

    <div class="col-md-2">
      <label for="startDate" class="form-label">Fecha inicio</label>
      <input
        type="date"
        class="form-control"
        formControlName="startDate"
        id="startDate"
      />
    </div>

    <div class="col-md-2">
      <label for="endDate" class="form-label">Fecha fin</label>
      <input
        type="date"
        class="form-control"
        formControlName="endDate"
        id="endDate"
      />
    </div>

    <div class="col-md-2 d-grid">
      <button type="submit" class="btn btn-secondary">Filtrar</button>
    </div>
  </form>
  <hr />
  @if (tasks.length > 0) {
  <h4 class="text-primary"><strong>Lista de tareas</strong></h4>
  } @if (tasks.length == 0) {
  <h4 class="text-center text-warning">No hay ninguna tarea creada.</h4>
  }

  <ul class="list-group mt-4 shadow-sm">
    @for (task of tasks; track $index) {
    <li
      class="list-group-item d-flex justify-content-between align-items-center rounded mb-2"
      [class.bg-light]="!task.completed"
      [class.bg-success]="task.completed"
      [class.text-white]="task.completed"
    >
      <div class="form-check d-flex align-items-center flex-grow-1">
        <input
          class="form-check-input me-3"
          type="checkbox"
          [checked]="task.completed"
          (change)="toggleTask(task)"
          id="task-{{ task.id }}"
        />
        <label
          class="form-check-label flex-grow-1"
          [for]="'task-' + task.id"
          style="cursor: pointer"
        >
          <div class="d-flex justify-content-between align-items-center">
            <strong
              [class.text-decoration-line-through]="task.completed"
              [class.text-white]="task.completed"
              [class.text-dark]="!task.completed"
              style="font-size: 1.1rem"
            >
              {{ task.title }}
            </strong>
            <span *ngIf="task.completed" class="badge bg-light text-success">
              <i class="bi bi-check-circle-fill me-1"></i> Completada
            </span>
          </div>
          <small
            class="d-block"
            [class.text-white]="task.completed"
            [class.text-muted]="!task.completed"
          >
            {{ task.description }}
          </small>
          <small
            class="d-block mt-1"
            [class.text-white-50]="task.completed"
            [class.text-secondary]="!task.completed"
            style="font-size: 0.8rem"
          >
            Creado: {{ task.createdAt | date : "medium" }}
          </small>
        </label>
      </div>

      <button
        class="btn btn-sm btn-danger ms-3"
        (click)="deleteTask(task.id)"
        placement="bottom"
        ngbTooltip="Eliminar tarea"
        aria-label="Eliminar tarea"
      >
        <i class="bi bi-trash3-fill"></i>
      </button>
    </li>
    }
  </ul>
</div>
